In [2]:
import pandas as pd

FILE_ID = '1rxD968JtKcD3NM8bsSf8t5tJhNCDjR_O'
file_url = f"https://drive.google.com/uc?id={FILE_ID}"
file_url = "https://drive.google.com/uc?id=1rxD968JtKcD3NM8bsSf8t5tJhNCDjR_O"

raw_data = pd.read_csv(file_url)

raw_data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,234495,Zoya,Female,49.0,Jaipur,Working Professional,Pilot,NaN,3.0,NaN,NaN,5.0,Less than 5 hours,Moderate,BSc,Yes,2.0,2.0,Yes
93796,234496,Shlok,Male,29.0,Ahmedabad,Working Professional,Pilot,NaN,5.0,NaN,NaN,1.0,7-8 hours,Moderate,BE,Yes,11.0,3.0,Yes
93797,234497,Rishi,Male,24.0,Visakhapatnam,Student,NaN,1.0,NaN,7.51,4.0,NaN,7-8 hours,Moderate,B.Tech,No,7.0,1.0,No
93798,234498,Eshita,Female,23.0,Kalyan,Working Professional,Marketing Manager,NaN,4.0,NaN,NaN,2.0,5-6 hours,Healthy,BA,Yes,7.0,5.0,Yes
93799,234499,Gauri,Female,43.0,Varanasi,Working Professional,Educational Consultant,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,B.Ed,No,11.0,2.0,No

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     93800 non-null  int64
 1   Name                                   93800 non-null  object
 2   Gender                                 93800 non-null  object
 3   Age                                    93800 non-null  float64
 4   City                                   93800 non-null  object
 5   Working Professional or Student        93800 non-null  object
 6   Profession                             69168 non-null  object
 7   Academic Pressure                      18767 non-null  float64
 8   Work Pressure                          75022 non-null  float64
 9   CGPA                                   18766 non-null  float64
 10  Study Satisfaction                     18767 non-null  float64
 11  Job Satisfaction                       75026 non-null  float64
 12  Sleep Duration                         93800 non-null  object
 13  Dietary Habits                         93795 non-null  object
 14  Degree                                 93798 non-null  object
 15  Have you ever had suicidal thoughts ?  93800 non-null  object
 16  Work/Study Hours                       93800 non-null  float64
 17  Financial Stress                       93800 non-null  float64
 18  Family History of Mental Illness       93800 non-null  object
dtypes: float64(8), int64(1), object(10)
memory usage: 13.6+ MB

In [4]:
columns_list = raw_data.columns.tolist()
columns_list

['id',
 'Name',
 'Gender',
 'Age',
 'City',
 'Working Professional or Student',
 'Profession',
 'Academic Pressure',
 'Work Pressure',
 'CGPA',
 'Study Satisfaction',
 'Job Satisfaction',
 'Sleep Duration',
 'Dietary Habits',
 'Degree',
 'Have you ever had suicidal thoughts ?',
 'Work/Study Hours',
 'Financial Stress',
 'Family History of Mental Illness']

In [5]:
for column in columns_list:
    if column not in ['id', 'Name']:
        print(f'{column}: {raw_data[column].unique()}, {raw_data[column].unique().dtype}')
        print()

Gender: ['Male' 'Female'], object

Age: [53.   58.   23.   47.   29.   28.   21.   45.   44.   48.   18.   52.
 34.   49.   26.   32.   41.   42.   25.   43.   20.   33.   19.   51.
 46.   59.   39.   50.   55.   54.   38.   35.   57.   56.   37.   36.
 40.   22.   30.   31.   60.   24.   27.   32.08], float64

City: ['Visakhapatnam' 'Kolkata' 'Jaipur' 'Rajkot' 'Kalyan' 'Mumbai' 'Surat'
 'Srinagar' 'Delhi' 'Lucknow' 'Thane' 'Meerut' 'Nagpur' 'Ghaziabad'
 'Chennai' 'Varanasi' 'Indore' 'Pune' 'Hyderabad' 'Kanpur' 'Nashik'
 'Bhopal' 'Faridabad' 'Bangalore' 'Vasai-Virar' 'Ludhiana' 'Patna'
 'Vadodara' 'Ahmedabad' 'Agra' 'Malyan' 'Pratyush' 'Vidya'
 'Less than 5 hours' 'Aditi' 'Keshav' 'Nalini' 'Mhopal' 'Avni' 'Ira'
 'Vaishnavi' 'Bhavna' 'Lawyer' 'Thani' 'Hrithik' 'City' 'Unaly'
 'Is Kanpur' 'Golkata' 'Less Delhi' 'Sara' 'Saurav' 'Vikram' 'Parth'
 'Siddhesh' 'Vaikot' 'Leela' 'Chemist' 'San Vasai-Virar' 'No' 'More Delhi'
 'Saanvi' 'Pratham' 'Vidhi' 'Abhinav' 'Rolkata' 'Ghopal' 'No.12'], object

Working Professional or Student: ['Working Professional' 'Student'], object

Profession: ['Judge' 'Educational Consultant' 'Teacher' nan 'Customer Support'
 'Chemist' 'Content Writer' 'Consultant' 'HR Manager' 'Research Analyst'
 'Digital Marketer' 'Electrician' 'Marketing Manager' 'Plumber'
 'Pharmacist' 'Lawyer' 'Pilot' 'Architect' 'Chef' 'Graphic Designer'
 'Entrepreneur' 'Manager' 'Mechanical Engineer' 'Software Engineer'
 'Travel Consultant' 'Finanancial Analyst' 'Financial Analyst' 'Doctor'
 'Business Analyst' 'UX/UI Designer' 'Sales Executive' 'Data Scientist'
 'Accountant' 'Researcher' 'Civil Engineer' 'Investment Banker'
 'Unhealthy' 'B.Ed' 'Student' 'Working Professional' '3M' 'ME' 'B.Pharm'
 '24th' 'Manvi' 'Yogesh' 'Samar' 'Surat' 'PhD' 'M.Ed' 'MD' 'Name' 'MCA'
 'Simran' 'Analyst' 'Profession' 'Unemployed' 'BBA' 'M.Tech' 'LLM'
 'Surgeon' 'No' 'Unveil' 'City Consultant' 'M.Pharm'], object

Academic Pressure: [nan  5.  1.  3.  4.  2.], float64

Work Pressure: [ 2.  4. nan  5.  1.  3.], float64

CGPA: [  nan  6.84  7.39  6.03  8.63  8.61  6.73  5.58  7.94  9.04  9.6   8.91
  9.54  8.13  6.16  7.38  7.04  9.41  5.59  9.89  8.7   5.56  6.42  8.07
  9.86  9.71  8.93  5.12  7.48  9.74  5.66  6.38  8.59  7.88  9.88  8.9
  8.74  7.47  8.94  8.65  5.88  6.1   8.14  8.04  5.75  9.56  7.35  8.78
  6.26  7.09  8.24  8.21  9.44  6.37  5.74  7.52  5.87  7.85  5.03  7.5
  9.29  8.89  9.93  8.52  7.92  8.19  8.29  6.81  5.08  5.85  7.17  7.51
  8.95  5.52  7.7   9.96  7.15  5.16  9.24  9.02  6.21  6.43  8.88  7.53
  9.21  7.22  8.09  9.97  8.08  5.09  8.79  8.38  7.64  5.48  8.96  8.17
  7.83  5.27  9.1   8.11  7.8   7.9   5.99  7.03  6.89  7.25  9.95  9.63
  8.92  5.81  5.82  5.64  5.6   9.33  8.44  9.37  6.78  6.27  8.5   6.47
  9.34  8.03  7.1   6.99  5.37  5.41  5.38  5.91  5.11  5.42  5.57  6.02
  9.13  5.71 10.    9.67  5.61  8.62  6.28  8.46  9.72  9.05  9.39  7.32
  5.46  6.08  7.61  9.94  6.83  6.86  6.25  7.13  7.21  6.88  8.73  5.51
  6.61  7.46  7.37  9.42  6.51  9.5   7.06  9.69  8.81  7.77  6.65  5.98
  9.19  9.03  5.83  8.42  6.17  8.54  7.87  7.24  9.11  8.28  5.55  9.84
  8.58  7.27  9.17  9.91  6.79  5.06  5.1   8.35  6.29  9.12  5.9   6.36
  7.74  9.9   6.76  9.25  6.75  9.46  5.69  9.7   5.7   6.04  5.89  5.45
  5.84  7.12  6.56  7.3   8.    8.69  7.08  7.91  5.76  5.32  8.32  6.33
  5.97  9.31  6.41  6.24  5.47  9.06  8.1   9.98  6.    7.14  9.85  5.86
  6.69  6.14  7.82  9.26  7.28  5.68  7.6   7.72  9.79  9.82  9.92  5.79
  8.37  8.56  6.52  6.59  5.72  6.85  8.77  8.23  7.07  8.98  7.26  8.47
  6.74  7.34  9.4   5.67  7.71  6.72  5.26  6.05  9.87  8.64  5.3   8.97
  6.91  8.39  9.08  9.49  6.53  8.49  6.7   5.77  9.43  7.79  9.78  7.02
  7.49  7.45  6.92  6.82  8.53  5.44  5.24  9.36  7.75  9.59  8.71  5.39
  9.47  7.43  8.43  8.4   8.75  6.63  6.39  5.65  9.66  7.68  5.25  9.16
  7.11  8.85  7.99  7.    8.25  9.01  8.83  5.35  5.8   5.36  6.5   8.27
  6.32  6.19  6.23  8.55  5.14  5.17  8.16  6.35  6.46  5.5   6.95  8.01
  6.09  5.92  5.78], float64

Study Satisfaction: [nan  1.  3.  5.  2.  4.], float64

Job Satisfaction: [ 5.  4.  1. nan  3.  2.], float64

Sleep Duration: ['Less than 5 hours' '7-8 hours' 'More than 8 hours' '5-6 hours' '0'
 'Meerut' '9-5 hours' '6-7 hours' '60-65 hours' 'Vivan' '3-4 hours'
 '1-6 hours' '9-5' 'Unhealthy' '8-9 hours' '4-5 hours' 'than 5 hours'
 '9-6 hours' '1-2 hours' '8-89 hours'
 'Have_you_ever_had_suicidal_thoughts' '20-21 hours' '10-6 hours'
 '1-3 hours' '6 hours' '50-75 hours' '4-6 hours' '2-3 hours' '9-11 hours'
 '9-10 hours' '3-6 hours'], object

Dietary Habits: ['Moderate' 'Healthy' 'Unhealthy' 'More Healthy' 'No' 'Indoor' 'Prachi'
 nan 'Male' 'Less Healthy' 'Mealy' 'Resistant' 'MCA' '5 Healthy'
 'Academic' 'Educational' 'Soham' '5 Unhealthy' 'Vivaan' 'Raghav' '1.0'
 'Naina' 'Kolkata'], object

Degree: ['LLB' 'B.Ed' 'B.Arch' 'BSc' 'BCA' 'B.Com' 'MA' 'BA' 'BBA' 'Class 12' 'MD'
 'MBA' 'M.Ed' 'M.Pharm' 'BHM' 'LLM' 'PhD' 'M.Com' 'BE' 'MBBS' 'B.Tech'
 'ME' 'MCA' 'B.Pharm' 'MHM' 'M.Tech' 'BTech' 'MSc' 'BArch' 'B. Gender'
 'B.Study_Hours' 'Advait' 'M.Arch' 'A.Ed' 'Mechanical Engineer' 'B.H'
 'B.Sc' 'B' 'M.UI' 'Vibha' 'B BCA' 'B.Press' 'BPharm' 'Gagan' 'MPharm'
 'Travel Consultant' '5.65' 'Business Analyst' 'Eshita' 'B_Com' 'Navya'
 'B._Pharm' 'Pune' 'Bian' 'B.M.Com' 'Kavya' 'M.M.Ed' 'S.Pharm' 'Vrinda'
 'M' 'E.Ed' '3.0' 'Moham' 'B.BA' nan 'I.Ed' 'Degree' 'Magan' 'B B.Tech'
 'M.B.Ed' 'Bhopal' 'B Financial Analyst' 'GCA' 'G.Ed' 'Rupak' 'RCA' 'B.CA'
 'PCA' 'J.Ed' 'BH' 'BEd' '8.95' 'Aadhya' '20' 'Banchal' 'M.' 'K.Ed' 'BHCA'], object

Have you ever had suicidal thoughts ?: ['No' 'Yes'], object

Work/Study Hours: [ 9.  6. 12. 10.  3.  0.  8.  5.  4. 11.  7.  1.  2.], float64

Financial Stress: [3. 4. 2. 1. 5.], float64

Family History of Mental Illness: ['Yes' 'No'], object

In [ ]:
'''
id ---> int
Name ---> str
Gender ---> str
Age ---> int
City ---> str
Working Professional or Student ---> str
Profession ---> str
Academic Pressure ---> int
Work Pressure ---> int
CGPA ---> float
Study Satisfaction ---> int
Job Satisfaction ---> int
Sleep Duration ---> str
Dietary Habits ---> str
Degree ---> str
Have you ever had suicidal thoughts ? ---> str
Work/Study Hours ---> int
Financial Stress ---> int
Family History of Mental Illness ---> str
'''

In [14]:
columns_list = ['id',
 'Name',
 'Gender',
 'Age',
 'City',
 'Working Professional or Student',
 'Profession',
 'Academic Pressure',
 'Work Pressure',
 'CGPA',
 'Study Satisfaction',
 'Job Satisfaction',
 'Sleep Duration',
 'Dietary Habits',
 'Degree',
 'Have you ever had suicidal thoughts ?',
 'Work/Study Hours',
 'Financial Stress',
 'Family History of Mental Illness']

raw_data['id'] = raw_data['id'].astype('int')
raw_data['Name'] = raw_data['Name'].astype('str')
raw_data['Gender'] = raw_data['Gender'].astype('str')
raw_data['Age'] = raw_data['Age'].astype('int')
raw_data['City'] = raw_data['City'].astype('str')
raw_data['Working Professional or Student'] = raw_data['Working Professional or Student'].astype('str')
raw_data['Profession'] = raw_data['Profession'].astype('str')
raw_data['Academic Pressure'] = raw_data['Academic Pressure'].astype('Int16')
raw_data['Work Pressure'] = raw_data['Work Pressure'].astype('Int16')
raw_data['CGPA'] = raw_data['CGPA'].astype('float64')
raw_data['Study Satisfaction'] = raw_data['Study Satisfaction'].astype('Int16')
raw_data['Job Satisfaction'] = raw_data['Job Satisfaction'].astype('Int16')
raw_data['Sleep Duration'] = raw_data['Sleep Duration'].astype('str')
raw_data['Dietary Habits'] = raw_data['Dietary Habits'].astype('str')
raw_data['Degree'] = raw_data['Degree'].astype('str')
raw_data['Have you ever had suicidal thoughts ?'] = raw_data['Have you ever had suicidal thoughts ?'].astype('str')
raw_data['Work/Study Hours'] = raw_data['Work/Study Hours'].astype('int')
raw_data['Financial Stress'] = raw_data['Financial Stress'].astype('int')
raw_data['Family History of Mental Illness'] = raw_data['Family History of Mental Illness'].astype('str')

In [15]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     93800 non-null  int64
 1   Name                                   93800 non-null  object
 2   Gender                                 93800 non-null  object
 3   Age                                    93800 non-null  int64
 4   City                                   93800 non-null  object
 5   Working Professional or Student        93800 non-null  object
 6   Profession                             93800 non-null  object
 7   Academic Pressure                      18767 non-null  Int16
 8   Work Pressure                          75022 non-null  Int16
 9   CGPA                                   18766 non-null  float64
 10  Study Satisfaction                     18767 non-null  Int16
 11  Job Satisfaction                       75026 non-null  Int16
 12  Sleep Duration                         93800 non-null  object
 13  Dietary Habits                         93800 non-null  object
 14  Degree                                 93800 non-null  object
 15  Have you ever had suicidal thoughts ?  93800 non-null  object
 16  Work/Study Hours                       93800 non-null  int64
 17  Financial Stress                       93800 non-null  int64
 18  Family History of Mental Illness       93800 non-null  object
dtypes: Int16(4), float64(1), int64(4), object(10)
memory usage: 11.8+ MB